.desc a{
    color: red;
    text-decoration: none;
}

.child > a {
    color: green;
}

a:link{
    color: red;
}
a:hover{
    color: green;
}

a:active{
    color: yellow;
}

a:visited{
    color: brown;
}

p:target{
    color: red;
    border: 1px solid black;
}

div:target{
    color: green;
}

.borderone{
    border: 10px solid red;
}

.bordertwo{
    border: left 20px solid yellow;
}

.gridone div,.gridtwo div,.gridthree div,.gridfour div,.gridfive div,.gridsix div{
    padding: 20px;
    color: blueviolet;
    text-align: center;
}

.gridone,.gridthree,.gridfour,.gridfive,.gridsix {
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridtwo {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 40px;
}

.gridthree {
    grid-row-gap: 40px;
}

.gridfour {
    grid-gap: 40px;
}

.columnadd {
    grid-column-start: 1;
    grid-column-end: 3;
}

.rowadd {
    grid-row-start: 2;
    grid-row-end: 4;
}

.relative_parent{
    border: 1px solid red;
    width: 1000px;
    height: 500px;
}

.relative{
    border: 1px solid red;
    width: 400px;
    height: 200px;
    position: relative;
    top: 50px;
    left: 100px;
}

.absolute_parent{
    border: 1px solid green;
    width: 1000px;
    height: 500px;
    position: relative;
}

.absolute {
    border: 1px solid yellow;
    width: 400px;
    height: 200px;
    position: absolute;
    top: 50px;
    left: 100px;
}

.online{
    font-family: 'Pacifico', cursive
}

@font-face{
    src: url(indie_flower/Pacifico-Regular.ttf);
    font-family: indie;
}

.offline{
    font-family: indie;
}
